@model IEnumerable<SprintModel.InvestimentoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rentabilidadeAnual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.risco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorMinimo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rentabilidadeAnual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.risco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorMinimo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idInvestimento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idInvestimento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idInvestimento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
